<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-03-31T14:40:08Z</date>
	<key>WorkspacePath</key>
	<string>/Volumes/Avenir Desi/Dropbox/AvenirDesign/Avenir Designs/Apps/Ground Up Radio/Ground Up Radio.xcodeproj</string>
</dict>
</plist>
